body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background: #141414;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.fade-in {
    position: absolute;
    background-color: #141414;
    opacity: 1;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from { opacity: 1; }
    to { opacity: 0; }
}

canvas {
    width:100%;
    margin-top: 9vh;
}

.navul {
    position: fixed;
    margin: 0 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-height: 9vh;
    background-color: #101010;
    display: inline-flex;
    list-style-type: none;
}

.navli {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.3s ease;
}

.navli a {
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: center;

    line-height: 9vh;
    padding: 0 1em;
}

.navli:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.navli:hover > a {
    color: #e0e0e0;
}

main {
    padding: 0 2em;
    margin-bottom: 2em;
}

#projects { 
    padding-top: 9vh;
}

.main-carousel {
    width: 100%;
    height: calc( 100vh - 9vh - 8em );
}

.main-carousel .flickity-viewport {
    /* width: 100%; */
    /* height: calc( 100vh - 9vh - 8em ); */
    height: calc( 100vh - 9vh - 8em );
    /* height: 100%; */
}

.main-carousel .flickity-slider {
    /* height: 100%; */
    height: calc( 100vh - 9vh - 8em );
}

.flickity-slider img, .flickity-slider > div {
    display: block;
    /* height: 100vh; */
    height: calc( 100vh - 9vh - 8em );
    counter-increment: gallery-cell;
}

#about {
    padding-top: 9vh;
}

/* .main-carousel img {
     object-fit: cover; 
}  */


footer {
    width: 100%;
    height: 12em;
    margin-top: 2em;
    background-color: #101010;
    display: inline-flex;
    list-style-type: none;
    display: flex;
    justify-content: center;   
}

footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 2em;
}

footer li {
    list-style-type: none;
}

footer li > a {
    color: #dddddd;
    text-decoration: none;
    transition: all 0.15s;
}

footer li > a:hover {
    text-decoration: underline;
}