body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background: #141414;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #E54F6D;
    transition: color 0.15s;
}

a:hover, a:focus {
    color: hsl(348, 74%, 42%);
    text-decoration: underline;
}

a:visited {
    color: hsl(206, 83%, 58%);
}

a:visited:hover, a:visited:focus {
    color:hsl(206, 83%, 40%);
    text-decoration: underline;
}

a

.fade-in {
    position: absolute;
    background-color: #141414;
    opacity: 1;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from { opacity: 1; }
    to { opacity: 0; }
}

.hero {
    margin-top: 9vh;
    position: relative;
}

.hero > .heroTitle {
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: calc(50% - 3em);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 0.5em #141414;
    transition: all 0.3s ease;
    user-select: none;
}

.hero > .heroBtn {
    position: absolute;
    top: calc(50% - 2em);
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em 1em;

    background-color: #7ECA9C;
    
    border: none;
    border-radius: 0.5em;

    color: #413a4b;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    
    transition: all 0.3s ease;
}

/* herobtn on hover,focus
darken background color and
add dark shadow and
scale it up by 5% */
.hero > .heroBtn:hover, .hero > .heroBtn:focus {
    background-color: #6dbb8c;
    color: rgb(60, 53, 69);
    box-shadow: 0 0 0.5em #7ECA9C;
    transform: translate(-50%, -50%) scale(1.05);
}


canvas {
    width:100%;
}


.navul {
    position: fixed;
    margin: 0 0;
    width: calc(100% - 57px);
    height: 100%;
    z-index: 1;
    max-height: 9vh;
    background-color: #101010;
    display: inline-flex;
    list-style-type: none;
}

.navli {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.3s ease;
}

.navli a {
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: center;

    line-height: 9vh;
    padding: 0 1em;
}

.navli:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.navli:hover > a {
    color: #e0e0e0;
    text-decoration: underline;
}

.navli > a:focus {
    text-decoration: underline;
}

main {
    padding: 0 4em;
    margin-bottom: 2em;
}

#projects { 
    padding-top: 9vh;
}

#about {
    margin: 0 auto;
    max-width: 80ch;
    line-height: 1.5em;
}

#about img {
    float: right;
    margin: 0 0 0 1.5em;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    max-width: 40%;
}

#about p {
    text-align: justify;
}

.main-carousel {
    margin: 0 -4em;
    width: calc(100% + 8em);
    height: calc( 100vh - 9vh - 8em );
}

.main-carousel .flickity-viewport {
    /* width: 100%; */
    /* height: calc( 100vh - 9vh - 8em ); */
    height: calc( 100vh - 9vh - 8em );
    /* height: 100%; */
}

.main-carousel .flickity-slider {
    /* height: 100%; */
    height: calc( 100vh - 9vh - 8em );
}

.carousel-cell {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 2em;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: #e1e1e1;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.carousel-cell > img {
    height: 50%;
    width: 100%;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.9);
}

.carousel-cell > .carousel-cell-text {
    height: 50%;
    width: 80ch;
    margin: 0 auto;
    max-width: calc(100% - 4em);
    padding: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.carousel-cell-text h1 {
    font-size: 2rem;
    font-weight: 500;
}

.carousel-cell-text > p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    overflow-y: auto;
}

#about {
    padding-top: 9vh;
}


footer {
    width: 100%;
    height: 12em;
    margin-top: 8em;
    background-color: #101010;
    /* display: inline-flex; */
    list-style-type: none;
    display: flex;
    justify-content: center;   
}

@media screen and (max-width: 1000px) {
    .carousel-cell {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {
    .carousel-cell {
        width: 80%;
    }
}