.note {
    margin: 0 auto;
    margin-top: 9vh;
    width: 80ch;
    max-width: calc(100vw - 2rem);
}

.note h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.note > .date {
    font-size: 1em;
    color: rgb(128, 128, 128);
    font-weight: 300;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .note {
        margin-top: 3vh;
    }
}